@extends('layouts.app')

@section('content')
<section class="">
    <div class="card">
        <div class="card-header">Find Doctors</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <input type="text" class="form-control " id="datepicker"  name="date">
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-primary">Find Doctors</button>
                    </div>

                </div>
            </div>
            
        </div>

        <div class="card mt-1">
        <div class="card-header"> Doctors available today</div>
            <div class="card-body">

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Photo</th>
                      <th scope="col">Name</th>
                      <th scope="col">Category</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr>
                      <th scope="row">1</th>
                      
                      
                        <button class="btn btn-success">Book Lesson</button>
                    </td>
                    </tr>

                     <tr>
                      <th scope="row">1</th>
                      
                      </td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    <td>
                        <button class="btn btn-success">Book Lesson</button>
                    </td>
                    </tr>


                  </tbody>
                </table>

                
            </div>
            
        </div>
    </div>
</section>
</div>

    
@endsection
